.section,.slide {
    position: relative;
}
.section.truncate-overflow {
    overflow: hidden;
}

.section .container {
    width: 100%;
    height: auto;
    max-width: 980px;
    position: relative;
    padding: 0;
    margin: 0 auto;
}
@media(max-width: 768px) {
    .section .container {
        padding: 4rem .7em .7em;
        width: 96%;
        width: calc(100% - 1.4em);
        margin: 0;
        overflow: hidden;
    }
}
.section .container.full-height {
    height: 100%;
}

.section .section-title-container {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}
@media(max-width: 768px) {
    .section .section-title-container {
        top: .5rem;
        left: 0;
    }
}
.section h1.section-title {
    font: 5rem "RTWSShangGoG0v1";
    position: relative;
    display: inline-block;
    color: #c9c9c9;
    margin: 0;
    padding-left: 1rem;
}
.section h1.section-title::before {
    content: "■";
    position: relative;
    left: -.5rem;
}
.section .circle {
    position:absolute;
    display:block;
    left:-57em;
    bottom:-197em;
    width:200em;
    height:200em;
    border:1px solid white;
    border-radius:50%;
    transform:rotate(0);
    transition: transform 1s,background 0.5s;
}
.section p {
    margin: 0 0 .5em;
}
.section ul, .section ol {
    margin: 0;
}

.section a.joinus {
    font: 48px "RTWSShangGoG0v1";
    color: #c0c7c7;
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    transition: all .25s ease;
}
@media(max-width: 768px) {
    .section a.joinus {
        top: .5rem;
        right: .75rem;
    }
}
.section a.joinus::before {
    content: "›››";
    font: 48px "RTWSShangGoG0v1";
}
.section a.joinus:hover {
    text-shadow: 0 0 6px #fff;
    right: 2rem;
}

.section .desc {
    font-family: "MFLiHei";
    color: #39adb1;
}
.section ul.desc > li {
    margin-bottom: .35em;
}

.section .block {
    display: block;
    position: absolute;

}
@media(max-width: 768px) {
    .section .block {
        position: static;
        width: 100% !important;
        max-width: 100% !important;
        margin: 2.75em 0 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.section .block > h2 {
    font: 2.4rem "RTWSShangGoG0v1";
    color: #c0c7c7;
    margin: 0 0 .4rem;
}
.section .block > .with-separator {
    border-bottom: 2px solid #39adb1;
}
.section .block > .desc, .section .block > .desc > .desc {
    font-size: 1.4rem;
}

.figure-container {
    position: absolute;
    bottom: .75em;
    width: 100%;
    z-index:-1;
}
.figure-container > .figure {
    display: block;
    margin: 0 auto;
}

.fp-controlArrow {
    opacity: .5;
    transition: all .35s ease;
}
.fp-controlArrow:hover, .fp-controlArrow:focus {
    opacity: 1;
}
.fp-controlArrow:active {
    opacity: .7;
}


.section .ground-container {
    width: 100%;
    height: 58px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.section .ground-container > .ground {
    border-radius: 50%;
    width: 860px;
    max-width: 100%;
    height: 132px;
    border: 3px solid #fff;
    margin: 0 auto;
    background: transparent url("../images/ground.jpg") no-repeat;
    transition: background-position .7s ease;
}
.fp-viewing-dept-photography .ground-container > .ground {
    background-position: 0 0;
}
.fp-viewing-dept-product .ground-container > .ground {
    background-position: -1629px 0;
}
.fp-viewing-dept-design .ground-container > .ground {
    background-position: -3144px 0;
}
.fp-viewing-dept-hr .ground-container > .ground {
    background-position: -4404px 0;
}
.fp-viewing-dept-technology .ground-container > .ground {
    background-position: -5667px 0;
}
.fp-viewing-dept-content .ground-container > .ground {
    background-position: -7275px 0;
}
.fp-viewing-dept-operation .ground-container > .ground {
    background-position: -8600px 0;
}


/* SVG */
.slide svg.pointers circle {
    fill: #3aaeb2;
}
.slide svg.pointers polyline {
    stroke: #3aaeb2;
    stroke-width: 2;
    fill: none;
}
@media(max-width: 768px) {
    .slide svg.pointers {
        display: none;
    }
}

/* 摄影部 */
.dept-photography .block.device-requirements {
    max-width: 20em;
    top: 11rem;
}
.dept-photography .block.ability-requirements {
    max-width: 20em;
    top: 20rem;
}
.dept-photography .block.love-photography {
    width: 15em;
    top: 9rem;
    right: 0;
}
.dept-photography .block.contact {
    width: 15em;
    top: 18rem;
    right: 0;
}

/*内容部*/
.dept-content .block.ability-requirements{
    max-width:21em;
    top:10rem;
}
.dept-content .block.passion{
    width:18em;
    top:28rem;
}
.dept-content .block.work-content{
    width:15em;
    top:7rem;
    right:0;
}
.dept-content .block.contact{
    width:15em;
    top:24rem;
    right:0;
}

/*设计部*/
.dept-design .block.ability-requirements{
    width:23em;
    top:13em;
    right:-7em;
    word-break: break-all;
}
.dept-design .block.work-content{
    max-width:16em;
    top:24rem;
}
.dept-design .block.contact{
    width:16em;
    top:9rem;
}
.dept-design .block.creative{
    width:15em;
    top:5rem;
    right:1em;
}

/*运营部*/
.dept-operation .block.ability-requirements{
    width:15em;
    top:17rem;
    right:0;
}
.dept-operation .block.work-content{
    width:20em;
    top:12rem;
}
.dept-operation .block.contact{
    width:20em;
    top:26rem;
}
.dept-operation .block.data-sensitive{
    width: 15em;
    top: 8rem;
    right: 0;
}

/*技术部*/
.dept-technology .block.ability-requirements{
    width:19em;
    top:6rem;
    right:-2rem;
}

.dept-technology .block.contact{
    width:20em;
    top:18rem;
}
.dept-technology .block.logically{
    width:20em;
    top:9rem;
}

/*产品部*/
.dept-product .block.ability-requirements{
    max-width:20em;
    top:9rem;
}
.dept-product .block.contact{
    max-width:20em;
    top:27rem;
}
.dept-product .block.work-content{
    width:18em;
    top:16rem;
    right:0;
}
.dept-product  .block.communication{
    width:15em;
    top:7rem;
    right:3rem;
}

/*人力资源部*/
.dept-hr .block.ability-requirements{
    width:20em;
    right:0;
    top:7rem;
}
.dept-hr .block.contact{
    width:15em;
    right:5em;
    top:25rem;
}
/*部长名字使用黑体*/
.dept-hr .block.contact>p:nth-of-type(1){
    color:#39adb1;
    font:bold 2rem "SimHei";
}
.dept-hr .block.work-content {
    max-width:18em;
    top:17rem;
}
.dept-hr .block.teamwork {
    width:16em;
    top:8rem;
}

/*部门公共样式*/
ul.desc{
    padding:0;
    list-style:none;
}

